/* components/LoadingScreen.module.css */
.loading_section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: var(--black);
    z-index: 10000;
}

.flipping {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.flipping div {
    animation: flipping-18i5bq 1.2000000000000002s calc(var(--delay) * 0.8s) infinite backwards;
    background-color: var(--white);
}

.flipping div:nth-child(1) {
    --delay: 0.08000000000000002;
}

.flipping div:nth-child(2) {
    --delay: 0.16000000000000003;
}

.flipping div:nth-child(3) {
    --delay: 0.24;
}

.flipping div:nth-child(4) {
    --delay: 0.32000000000000006;
}

.flipping div:nth-child(5) {
    --delay: 0.4;
}

.flipping div:nth-child(6) {
    --delay: 0.48;
}

.flipping div:nth-child(7) {
    --delay: 0.5599999999999999;
}

.flipping div:nth-child(8) {
    --delay: 0.6400000000000001;
}

.flipping div:nth-child(9) {
    --delay: 0.7200000000000001;
}

@keyframes flipping-18i5bq {
    0% {
        transform: perspective(105.6px) rotateX(-90deg);
    }

    50%,
    75% {
        transform: perspective(105.6px) rotateX(0);
    }

    100% {
        opacity: 0;
        transform: perspective(105.6px) rotateX(0);
    }
}